@import url("https://fonts.googleapis.com/css2?family=Lora:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600&display=swap");

html {
  overflow-x: clip;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

:root:not([data-theme="dark"]),
[data-theme="light"] {
  --background-color: #f4ebe7;
  --h1-color: #192c56;
  --h2-color: #192c56;
  --h3-color: #192c56;
  --color: #192c56;
  --primary: #192c56;
  --highlight: #f7630c;
  --highlight-hover: #eab469;
}

:root {
  --background-color: #f4ebe7;
  --typography-spacing-vertical: 0;
  --border-radius: 16px;
  --form-element-spacing-horizontal: 1.5rem;
  --font-family: Lora, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: Muli, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.title {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  top: 8rem;
  position: sticky;
  z-index: 1;
}

.glass {
  --glass-background-color: rgba(255, 255, 255, 0.533);
  background: var(--glass-background-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
}

.book-button {
  background-color: var(--background-color);
  font-size: calc(0.85 * var(--font-size));
  padding: calc(1.33 * var(--form-element-spacing-vertical))
    calc(1.33 * var(--form-element-spacing-horizontal));
  max-width: 10rem;
}

button,
h1,
h2,
h3,
h4,
h5 {
  --typography-spacing-vertical: 0;
  line-height: 1;
}

button,
h2 {
  white-space: nowrap;
}

button {
  --primary: var(--highlight);
  --primary-hover: var(--highlight-hover);
}

p {
  line-height: 1.33;
}

body {
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

main {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20svh;
}

h1 {
  --font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.1;
  margin: 0px;
}

#app {
  width: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  padding: 15svh 20vw 15svh;
}

.halftoneSvg {
  opacity: 5%;
  position: relative;
  top: 50%;
  z-index: -1;
}

@media (max-width: 1080px) {
  .page-container {
    padding: 5%;
    padding-top: 20%;
  }
}

@media (max-height: 760px) {
  .page-container {
    padding: 5%;
    padding-top: 10%;
  }
}

@media (orientation: portrait) {
  .glass {
    --glass-background-color: rgb(255 255 255 / 95%);
  }

  .page-container {
    padding: 1rem 0.5rem;
  }

  body {
    min-height: 100svh;
    min-height: -webkit-fill-available;
  }
  html {
    height: -webkit-fill-available;
  }
}
